@import 'style/fonts';
@import "./style/global";
@import "../node_modules/normalize-scss/sass/normalize.scss";
@include normalize();

.header__slider {
  &-item {
    height: 100vh;
    background-image: url("./images/slider-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
}

.slider__item-info {
  position: absolute;
  right: 80px;
  bottom: 116px;
}

.section {
  background-color: red;
  color: white;
  font-size: 95px;

}

